{% extends 'base.html' %}
{% block content %}


<body>
    <div class="container mt-3">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
            <div class="row justify-content-end">
                <div class="col-md-6 col-lg-4">
                    {% if user.is_authenticated %}
                        {% if is_following %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="unfollow">
                                <input type="hidden" name="username" value="{{ user_profile.id }}">
                                <button type="submit" class="btn btn-primary w-90 mt-2">
                                    Unfollow
                                </button>
                            </form>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="follow">
                                <input type="hidden" name="username" value="{{ user_profile.id }}">
                                <button type="submit" class="btn btn-primary w-90 mt-2">
                                    Follow
                                </button>
                            </form>
                        {% endif %}
                    {% else %}
                        <a href="/accounts/login" class=" px-2 text-blue">Login to follow user.</a>
                    {% endif %}
                </div>
            </div>
            <h2 class="mb-3">Welcome on '{{ user_profile.username }}' profile!</h2>
        <div class="row">
            <div class="col-md-3">
                <h4 class="mt-4 mb-3">Statistics:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Total number of readed Books: {{ read_books|length }}</li>
                    <li class="list-group-item">Number of Books Read This Month: {{ read_books_this_month|length }}</li>
                    <li class="list-group-item">Number of Books Read This Year: {{ read_books_this_year|length }}</li>
                    <li class="list-group-item">Number of Books To Read: {{ to_read_books|length }}</li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <h4 class="mt-4 mb-3">Read Books:</h4>
                {% if read_books %}
                    <ul class="list-group">
                        {% for book in read_books %}
                            <li class="list-group-item">
                                <a href="/mybook/book/{{ book.id }}">{{ book.title }} written by {{ book.author }}</a>
                                {% for opinion in user_opinions %}
                                    {% if opinion.book == book %}
                                        <p class="mt-2">
                                            <strong>Readed:</strong> {{ opinion.read_date }} <br>
                                            <strong>Rating:</strong> {{ opinion.rating }} <br>
                                            <strong>Review:</strong> {{ opinion.review }}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No read books yet.</p>
                {% endif %}
            </div>

            <div class="col-md-6">
                <h4 class="mt-4 mb-3">To Read Books:</h4>
                {% if to_read_books %}
                    <ul class="list-group">
                        {% for book in to_read_books %}
                            <li class="list-group-item">
                                <a href="/mybook/book/{{ book.id }}">{{ book.title }} written by {{ book.author }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No books in to-read list yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock content%}