
{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<body>
    <h1>{{ book_detail.title }}</h1>
    <p>Author: {{  book_detail.author }}</p>
    <p>ISBN: {{  book_detail.isbn }}</p>

    <h2>Genres:</h2>
    <ul>
        {% for genre in genres %}
            <li>{{ genre.name }}</li>
        {% endfor %}
    </ul>
    
    
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddToShelf">
        Add to bookshelf
    </button>
    
    <div class="modal fade" id="AddToShelf" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddToShelfLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AddToShelfLabel">Add to user bookshelf</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'mybook:book_detail' pk=book_detail.pk %}">
                        {% csrf_token %}
                        
                        <label>
                            <input type="radio" name="action" value="add_to_read"> Add to "Read"
                        </label>
                        
                        <label>
                            <input type="radio" name="action" value="add_to_to_read"> Add to "To Read"
                        </label>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
            </div>
          </div>
        </div>
      </div>

</body>

{% endblock content%}