
{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<body>
    <h1>{{ book_detail.title }}</h1>
    <p>Author: {{ book_detail.author }}</p>
    <p>ISBN: {{ book_detail.isbn }}</p>

    <h3>Genres:</h3>
    <ul>
        {% for genre in genres %}
            <li>{{ genre.name }}</li>
        {% endfor %}
    </ul>

    <h3>Average rating:</h3>
    {% if average_rating %}
        <p>{{ average_rating }}</p>
    {% else %}
        <p>No ratings yet.</p>
    {% endif %}

    <h3>Reviews:</h3>
    {% if opinions %}
        {% for opinion in opinions %}
        <div class="card" style="width: 20rem; margin-left: 10px; margin-bottom: 10px;">
            <div class="col-sm-12">
                <strong>User:</strong> {{ opinion.shelf.user.username }}
            </div>
            
            {% if opinion.read_date %}
                <div class="col-sm-12">
                    <strong>Read date:</strong> {{ opinion.read_date }}
                </div>
            {% endif %}
    
            {% if opinion.review %}
                <div class="col-sm-12">
                    <strong>Review:</strong>
                    <div class="row">
                        <div class="col-sm-12">{{ opinion.review }}</div>
                    </div>
                </div>
            {% endif %}
    
            {% if opinion.rating %}
                <div class="col-sm-12">
                    <strong>Rating:</strong> {{ opinion.rating }}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
    
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddToShelf">
        Add to bookshelf
    </button>
    
    <div class="modal fade" id="AddToShelf" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddToShelfLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AddToShelfLabel">Add to user bookshelf</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'mybook:book_detail' pk=book_detail.pk %}">
                        {% csrf_token %}
                        
                        <label>
                            <input type="radio" name="action" value="add_to_read"> Add to "Read"
                        </label>
                        
                        <label>
                            <input type="radio" name="action" value="add_to_to_read" id="add_to_to_read"> Add to "To read"
                        </label>
                        
                        <div id="additional-fields" class="mt-3">
                            <div class="mb-3">
                                <label for="read_date" class="form-label">Read Date:</label>
                                <input type="date" name="read_date" id="read_date" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="rating" class="form-label">Rating (1-10):</label>
                                <input type="number" name="rating" id="rating" class="form-control" min="1" max="10">
                            </div>
                            <div class="mb-3">
                                <label for="review" class="form-label">Review:</label>
                                <textarea name="review" id="review" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#additional-fields').hide();
  
            $('input[name="action"]').change(function () {
                var selectedAction = $('input[name="action"]:checked').val();
  
                if (selectedAction === 'add_to_read') {
                    $('#additional-fields').show();
                } else {
                    $('#additional-fields').hide();
                }
            });
        });
    </script>
    {% endblock %}
</body>

{% endblock content%}

