{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
    <h1>Book List</h1>
    
    <form method="get">
        <label for="sort_by">Sort by:</label>
        <select name="sort_by">
            <option value="title">Title</option>
            <option value="author__last_name">Author Last Name</option>
            <option value="isbn">ISBN</option>
            <option value="genre__name">Genre</option>
        </select>

        <label for="filter_field">Filter by:</label>
        <select name="filter_field">
            <option value="">--Select Field--</option>
            <option value="title">Title</option>
            <option value="author__last_name">Author Last Name</option>
            <option value="isbn">ISBN</option>
            <option value="genre__name">Genre</option>
        </select>

        <input type="text" name="filter_value" placeholder="Enter value to filter">

        <button type="submit">Apply</button>
    </form>

    <ul>
        {% for book in book_list %}
            <li><a href="/mybook/book/{{ book.id }}">{{ book.title }} written by {{ book.author.first_name }} {{ book.author.last_name }}</a></li>
        {% endfor %}
    </ul>

</div>

{% endblock content %}
