
{% extends 'base.html' %}

{% block content %}

<body>
    <h1>{{ book_detail.title }}</h1>
    <p>Author: {{  book_detail.author }}</p>
    <p>ISBN: {{  book_detail.isbn }}</p>

    <h2>Genres:</h2>
    <ul>
        {% for genre in genres %}
            <li>{{ genre.name }}</li>
        {% endfor %}
    </ul>
    
    <form method="post" action="{% url 'mybook:book_detail' pk=book_detail.pk %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="action" value="add_to_read">Add to "Read"</button>
      </form>
      
      <form method="post" action="{% url 'mybook:book_detail' pk=book_detail.pk %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="action" value="add_to_to_read">Add to "To Read"</button>
      </form>
    
</body>

{% endblock content%}