{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form class='container-sm' method='post' >
    {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">To delete your account, type your username:</h1>              
        <div class="mb-3">

            <input type="text" name="confirmation" required>
            <button class="btn btn-primary" type="submit">Delete Account</button>

        </div>

</form>

{% endblock content%}