{% extends 'base.html' %}

{% block content %}

<body>
  <div class="container mt-3">
    <h2>Welcome, {{user.username}}!</h2>
    <div class="list-group" style="width: 25rem;">
        <a href="/mybook/change_password/" class="list-group-item list-group-item-action">Change password</a>
        <a href="/mybook/change_user_data/" class="list-group-item list-group-item-action">Change personal information</a>
        <a href="/mybook/change_username/" class="list-group-item list-group-item-action">Change username</a>
        <a href="/mybook/delete_user/" class="list-group-item list-group-item-action">Delete account</a>

      </div>
    </div>
</body>

{% endblock content%}